-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: obamax_gardens
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bar_daily_closings`
--

DROP TABLE IF EXISTS `bar_daily_closings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bar_daily_closings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `worker_id` bigint(20) unsigned NOT NULL,
  `block` varchar(255) NOT NULL,
  `closing_date` date NOT NULL,
  `cash_collected` decimal(10,2) NOT NULL DEFAULT 0.00,
  `momo_collected` decimal(10,2) NOT NULL DEFAULT 0.00,
  `total_collected` decimal(10,2) GENERATED ALWAYS AS (`cash_collected` + `momo_collected`) STORED,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bar_daily_closings_worker_id_block_closing_date_unique` (`worker_id`,`block`,`closing_date`),
  CONSTRAINT `bar_daily_closings_worker_id_foreign` FOREIGN KEY (`worker_id`) REFERENCES `workers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bar_daily_closings`
--

LOCK TABLES `bar_daily_closings` WRITE;
/*!40000 ALTER TABLE `bar_daily_closings` DISABLE KEYS */;
INSERT INTO `bar_daily_closings` VALUES (1,5,'Block A','2026-03-06',1500.00,100.00,1600.00,NULL,'2026-03-06 23:59:37','2026-03-06 23:59:37'),(2,4,'Block A','2026-03-07',1700.00,0.00,1700.00,NULL,'2026-03-07 01:23:30','2026-03-07 01:23:30'),(3,7,'Block C','2026-03-11',500.00,0.00,500.00,NULL,'2026-03-11 01:08:40','2026-03-11 01:08:40'),(4,5,'Block B','2026-03-13',4000.00,0.00,4000.00,NULL,'2026-03-13 00:35:30','2026-03-13 00:35:30');
/*!40000 ALTER TABLE `bar_daily_closings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bar_issuances`
--

DROP TABLE IF EXISTS `bar_issuances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bar_issuances` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `drink_id` bigint(20) unsigned NOT NULL,
  `worker_id` bigint(20) unsigned NOT NULL,
  `block` varchar(255) NOT NULL,
  `bottles_issued` int(11) NOT NULL,
  `price_per_bottle` decimal(10,2) NOT NULL,
  `expected_revenue` decimal(10,2) NOT NULL,
  `issued_date` date NOT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bar_issuances_drink_id_foreign` (`drink_id`),
  KEY `bar_issuances_worker_id_foreign` (`worker_id`),
  CONSTRAINT `bar_issuances_drink_id_foreign` FOREIGN KEY (`drink_id`) REFERENCES `drinks` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bar_issuances_worker_id_foreign` FOREIGN KEY (`worker_id`) REFERENCES `workers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bar_issuances`
--

LOCK TABLES `bar_issuances` WRITE;
/*!40000 ALTER TABLE `bar_issuances` DISABLE KEYS */;
/*!40000 ALTER TABLE `bar_issuances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bar_stock_taking_items`
--

DROP TABLE IF EXISTS `bar_stock_taking_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bar_stock_taking_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `stock_taking_id` bigint(20) unsigned NOT NULL,
  `drink_id` bigint(20) unsigned NOT NULL,
  `opening_stock` int(11) NOT NULL DEFAULT 0,
  `issued_during_period` int(11) NOT NULL DEFAULT 0,
  `closing_stock` int(11) NOT NULL DEFAULT 0,
  `wastage` int(11) NOT NULL DEFAULT 0,
  `wastage_value` decimal(12,2) NOT NULL DEFAULT 0.00,
  `qty_sold` int(11) NOT NULL DEFAULT 0,
  `expected_revenue` decimal(12,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bar_stock_taking_items_stock_taking_id_foreign` (`stock_taking_id`),
  KEY `bar_stock_taking_items_drink_id_foreign` (`drink_id`),
  CONSTRAINT `bar_stock_taking_items_drink_id_foreign` FOREIGN KEY (`drink_id`) REFERENCES `drinks` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bar_stock_taking_items_stock_taking_id_foreign` FOREIGN KEY (`stock_taking_id`) REFERENCES `bar_stock_takings` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bar_stock_taking_items`
--

LOCK TABLES `bar_stock_taking_items` WRITE;
/*!40000 ALTER TABLE `bar_stock_taking_items` DISABLE KEYS */;
INSERT INTO `bar_stock_taking_items` VALUES (1,1,4,0,96,0,0,0.00,96,1152.00,'2026-03-07 01:23:55','2026-03-07 01:23:55'),(2,2,4,0,120,77,0,0.00,43,516.00,'2026-03-13 00:36:47','2026-03-13 00:36:47'),(3,2,14,0,96,4,0,0.00,92,4600.00,'2026-03-13 00:36:47','2026-03-13 00:36:47');
/*!40000 ALTER TABLE `bar_stock_taking_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bar_stock_takings`
--

DROP TABLE IF EXISTS `bar_stock_takings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bar_stock_takings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `worker_id` bigint(20) unsigned NOT NULL,
  `block` varchar(255) NOT NULL,
  `stock_date` date NOT NULL,
  `period_start` date NOT NULL,
  `period_end` date NOT NULL,
  `total_expected_revenue` decimal(12,2) NOT NULL DEFAULT 0.00,
  `total_wastage_bottles` int(11) NOT NULL DEFAULT 0,
  `total_wastage_value` decimal(12,2) NOT NULL DEFAULT 0.00,
  `total_collected` decimal(12,2) NOT NULL DEFAULT 0.00,
  `shortfall` decimal(12,2) NOT NULL DEFAULT 0.00,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bar_stock_takings_worker_id_foreign` (`worker_id`),
  CONSTRAINT `bar_stock_takings_worker_id_foreign` FOREIGN KEY (`worker_id`) REFERENCES `workers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bar_stock_takings`
--

LOCK TABLES `bar_stock_takings` WRITE;
/*!40000 ALTER TABLE `bar_stock_takings` DISABLE KEYS */;
INSERT INTO `bar_stock_takings` VALUES (1,4,'Block A','2026-03-07','2000-01-01','2026-03-07',1152.00,0,0.00,1700.00,-548.00,NULL,'2026-03-07 01:23:55','2026-03-07 01:23:55'),(2,5,'Block B','2026-03-13','2000-01-01','2026-03-13',5116.00,0,0.00,4000.00,1116.00,NULL,'2026-03-13 00:36:47','2026-03-13 00:36:47');
/*!40000 ALTER TABLE `bar_stock_takings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookings`
--

DROP TABLE IF EXISTS `bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bookings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `room_id` bigint(20) unsigned NOT NULL,
  `guest_name` varchar(255) NOT NULL,
  `guest_phone` varchar(255) DEFAULT NULL,
  `check_in_date` date NOT NULL,
  `check_out_date` date NOT NULL,
  `number_of_nights` int(11) NOT NULL,
  `price_per_night` decimal(10,2) NOT NULL,
  `total_bill` decimal(10,2) NOT NULL,
  `amount_paid` decimal(10,2) NOT NULL DEFAULT 0.00,
  `payment_method` enum('cash','momo','mixed') NOT NULL DEFAULT 'cash',
  `date_recorded` date NOT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bookings_room_id_foreign` (`room_id`),
  CONSTRAINT `bookings_room_id_foreign` FOREIGN KEY (`room_id`) REFERENCES `rooms` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookings`
--

LOCK TABLES `bookings` WRITE;
/*!40000 ALTER TABLE `bookings` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
INSERT INTO `cache` VALUES ('7f87e086d84af7cb14ded84f5eba7321','i:1;',1773366543),('7f87e086d84af7cb14ded84f5eba7321:timer','i:1773366543;',1773366543);
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `depot_inventory`
--

DROP TABLE IF EXISTS `depot_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `depot_inventory` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `drink_id` bigint(20) unsigned NOT NULL,
  `crates_received` int(11) NOT NULL DEFAULT 0,
  `bottles_received` int(11) NOT NULL,
  `cost_per_crate` decimal(10,2) DEFAULT NULL,
  `date_received` date NOT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `depot_inventory_drink_id_foreign` (`drink_id`),
  CONSTRAINT `depot_inventory_drink_id_foreign` FOREIGN KEY (`drink_id`) REFERENCES `drinks` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `depot_inventory`
--

LOCK TABLES `depot_inventory` WRITE;
/*!40000 ALTER TABLE `depot_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `depot_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `drink_price_history`
--

DROP TABLE IF EXISTS `drink_price_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `drink_price_history` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `drink_id` bigint(20) unsigned NOT NULL,
  `old_price` decimal(10,2) NOT NULL,
  `new_price` decimal(10,2) NOT NULL,
  `effective_date` date NOT NULL,
  `note` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `drink_price_history_drink_id_foreign` (`drink_id`),
  CONSTRAINT `drink_price_history_drink_id_foreign` FOREIGN KEY (`drink_id`) REFERENCES `drinks` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `drink_price_history`
--

LOCK TABLES `drink_price_history` WRITE;
/*!40000 ALTER TABLE `drink_price_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `drink_price_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `drinks`
--

DROP TABLE IF EXISTS `drinks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `drinks` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `sell_by` varchar(255) NOT NULL DEFAULT 'bottle',
  `crate_name` varchar(255) NOT NULL,
  `bottles_per_crate` int(11) NOT NULL,
  `tots_per_bottle` int(11) DEFAULT NULL,
  `bottle_size` varchar(255) NOT NULL,
  `price_per_bottle` decimal(10,2) NOT NULL,
  `price_per_tot` decimal(10,2) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `drinks`
--

LOCK TABLES `drinks` WRITE;
/*!40000 ALTER TABLE `drinks` DISABLE KEYS */;
/*!40000 ALTER TABLE `drinks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hotel_daily_closings`
--

DROP TABLE IF EXISTS `hotel_daily_closings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hotel_daily_closings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `closing_date` date NOT NULL,
  `expected_revenue` decimal(10,2) NOT NULL DEFAULT 0.00,
  `cash_collected` decimal(10,2) NOT NULL DEFAULT 0.00,
  `momo_collected` decimal(10,2) NOT NULL DEFAULT 0.00,
  `total_collected` decimal(10,2) GENERATED ALWAYS AS (`cash_collected` + `momo_collected`) STORED,
  `shortfall` decimal(10,2) NOT NULL DEFAULT 0.00,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `hotel_daily_closings_closing_date_unique` (`closing_date`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hotel_daily_closings`
--

LOCK TABLES `hotel_daily_closings` WRITE;
/*!40000 ALTER TABLE `hotel_daily_closings` DISABLE KEYS */;
INSERT INTO `hotel_daily_closings` VALUES (1,'2026-03-05',850.00,850.00,0.00,850.00,0.00,NULL,'2026-03-05 00:15:30','2026-03-05 00:15:30');
/*!40000 ALTER TABLE `hotel_daily_closings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `issuance_reports`
--

DROP TABLE IF EXISTS `issuance_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `issuance_reports` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `report_date` date NOT NULL,
  `worker_id` bigint(20) unsigned NOT NULL,
  `block` varchar(255) NOT NULL,
  `total_crates` int(11) NOT NULL DEFAULT 0,
  `total_bottles` int(11) NOT NULL DEFAULT 0,
  `total_revenue` decimal(12,2) NOT NULL DEFAULT 0.00,
  `file_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `issuance_reports_worker_id_foreign` (`worker_id`),
  KEY `issuance_reports_report_date_worker_id_block_index` (`report_date`,`worker_id`,`block`),
  CONSTRAINT `issuance_reports_worker_id_foreign` FOREIGN KEY (`worker_id`) REFERENCES `workers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `issuance_reports`
--

LOCK TABLES `issuance_reports` WRITE;
/*!40000 ALTER TABLE `issuance_reports` DISABLE KEYS */;
INSERT INTO `issuance_reports` VALUES (1,'2026-03-01',4,'Block A',4,96,1152.00,'issuance-reports/issuance-2026-03-01-Jimbaja_Godred-Block_A.pdf','2026-03-01 23:01:12','2026-03-01 23:01:12');
/*!40000 ALTER TABLE `issuance_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kitchen_issuances`
--

DROP TABLE IF EXISTS `kitchen_issuances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kitchen_issuances` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tracked_item_id` bigint(20) unsigned NOT NULL,
  `unit` varchar(255) NOT NULL,
  `size` enum('Small','Medium','Large') DEFAULT NULL,
  `quantity_issued` decimal(10,2) NOT NULL,
  `issued_date` date NOT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `expected_plates` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kitchen_issuances_tracked_item_id_foreign` (`tracked_item_id`),
  CONSTRAINT `kitchen_issuances_tracked_item_id_foreign` FOREIGN KEY (`tracked_item_id`) REFERENCES `tracked_items` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kitchen_issuances`
--

LOCK TABLES `kitchen_issuances` WRITE;
/*!40000 ALTER TABLE `kitchen_issuances` DISABLE KEYS */;
/*!40000 ALTER TABLE `kitchen_issuances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `monthly_summaries`
--

DROP TABLE IF EXISTS `monthly_summaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `monthly_summaries` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `month` varchar(7) NOT NULL,
  `bar_revenue` decimal(12,2) NOT NULL DEFAULT 0.00,
  `restaurant_revenue` decimal(12,2) NOT NULL DEFAULT 0.00,
  `hotel_revenue` decimal(12,2) NOT NULL DEFAULT 0.00,
  `total_revenue` decimal(12,2) NOT NULL DEFAULT 0.00,
  `bar_closings` int(11) NOT NULL DEFAULT 0,
  `restaurant_reports` int(11) NOT NULL DEFAULT 0,
  `hotel_closings` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `monthly_summaries_month_unique` (`month`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `monthly_summaries`
--

LOCK TABLES `monthly_summaries` WRITE;
/*!40000 ALTER TABLE `monthly_summaries` DISABLE KEYS */;
/*!40000 ALTER TABLE `monthly_summaries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` text NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`),
  KEY `personal_access_tokens_expires_at_index` (`expires_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `restaurant_daily_closings`
--

DROP TABLE IF EXISTS `restaurant_daily_closings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `restaurant_daily_closings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tracked_item_id` bigint(20) unsigned NOT NULL,
  `size_category` varchar(255) DEFAULT NULL,
  `closing_date` date NOT NULL,
  `cash_collected` decimal(10,2) NOT NULL DEFAULT 0.00,
  `plates_sold` int(11) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `rest_closing_unique` (`tracked_item_id`,`size_category`,`closing_date`),
  CONSTRAINT `restaurant_daily_closings_tracked_item_id_foreign` FOREIGN KEY (`tracked_item_id`) REFERENCES `tracked_items` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `restaurant_daily_closings`
--

LOCK TABLES `restaurant_daily_closings` WRITE;
/*!40000 ALTER TABLE `restaurant_daily_closings` DISABLE KEYS */;
INSERT INTO `restaurant_daily_closings` VALUES (1,2,NULL,'2026-03-03',0.00,20,NULL,'2026-03-03 23:48:15','2026-03-03 23:48:15'),(2,1,'Medium','2026-03-03',0.00,6,NULL,'2026-03-03 23:49:31','2026-03-03 23:49:31'),(3,1,'Small','2026-03-11',0.00,3,NULL,'2026-03-11 01:05:11','2026-03-11 01:05:11');
/*!40000 ALTER TABLE `restaurant_daily_closings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `restaurant_daily_reports`
--

DROP TABLE IF EXISTS `restaurant_daily_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `restaurant_daily_reports` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `report_date` date NOT NULL,
  `total_cash` decimal(10,2) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `restaurant_daily_reports_report_date_unique` (`report_date`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `restaurant_daily_reports`
--

LOCK TABLES `restaurant_daily_reports` WRITE;
/*!40000 ALTER TABLE `restaurant_daily_reports` DISABLE KEYS */;
INSERT INTO `restaurant_daily_reports` VALUES (1,'2026-03-04',3000.00,NULL,'2026-03-04 00:37:27','2026-03-04 00:37:27'),(2,'2026-03-05',3000.00,NULL,'2026-03-05 00:18:49','2026-03-05 00:18:49'),(3,'2026-03-11',500.00,'500','2026-03-11 01:05:32','2026-03-11 01:05:32');
/*!40000 ALTER TABLE `restaurant_daily_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `restaurant_inventory`
--

DROP TABLE IF EXISTS `restaurant_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `restaurant_inventory` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tracked_item_id` bigint(20) unsigned NOT NULL,
  `quantity_received` decimal(10,2) NOT NULL,
  `unit` varchar(50) NOT NULL DEFAULT 'kg',
  `size` enum('Small','Medium','Large') DEFAULT NULL,
  `cost` decimal(10,2) DEFAULT NULL,
  `date_received` date NOT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `restaurant_inventory_tracked_item_id_foreign` (`tracked_item_id`),
  CONSTRAINT `restaurant_inventory_tracked_item_id_foreign` FOREIGN KEY (`tracked_item_id`) REFERENCES `tracked_items` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `restaurant_inventory`
--

LOCK TABLES `restaurant_inventory` WRITE;
/*!40000 ALTER TABLE `restaurant_inventory` DISABLE KEYS */;
INSERT INTO `restaurant_inventory` VALUES (1,2,25.00,'kg',NULL,NULL,'2026-03-03',NULL,'2026-03-03 23:08:26','2026-03-03 23:08:26'),(2,1,12.00,'pieces','Medium',NULL,'2026-03-03',NULL,'2026-03-03 23:13:27','2026-03-03 23:13:27'),(3,1,8.00,'pieces','Large',NULL,'2026-03-03',NULL,'2026-03-03 23:20:44','2026-03-03 23:20:44'),(4,1,10.00,'pieces','Small',NULL,'2026-03-11',NULL,'2026-03-11 01:04:36','2026-03-11 01:04:36');
/*!40000 ALTER TABLE `restaurant_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `restaurant_stock_takings`
--

DROP TABLE IF EXISTS `restaurant_stock_takings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `restaurant_stock_takings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tracked_item_id` bigint(20) unsigned NOT NULL,
  `size_category` varchar(255) DEFAULT NULL,
  `period_start` date NOT NULL,
  `period_end` date NOT NULL,
  `opening_stock` decimal(10,2) NOT NULL,
  `issued_during_period` decimal(10,2) NOT NULL,
  `closing_stock` decimal(10,2) NOT NULL,
  `quantity_sold` decimal(10,2) NOT NULL,
  `expected_revenue` decimal(10,2) NOT NULL,
  `cash_collected` decimal(10,2) NOT NULL DEFAULT 0.00,
  `shortfall` decimal(10,2) NOT NULL DEFAULT 0.00,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `restaurant_stock_takings_tracked_item_id_foreign` (`tracked_item_id`),
  CONSTRAINT `restaurant_stock_takings_tracked_item_id_foreign` FOREIGN KEY (`tracked_item_id`) REFERENCES `tracked_items` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `restaurant_stock_takings`
--

LOCK TABLES `restaurant_stock_takings` WRITE;
/*!40000 ALTER TABLE `restaurant_stock_takings` DISABLE KEYS */;
/*!40000 ALTER TABLE `restaurant_stock_takings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rooms`
--

DROP TABLE IF EXISTS `rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rooms` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `room_number` varchar(255) NOT NULL,
  `room_type` varchar(255) NOT NULL,
  `price_per_night` decimal(10,2) NOT NULL,
  `description` text DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `rooms_room_number_unique` (`room_number`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rooms`
--

LOCK TABLES `rooms` WRITE;
/*!40000 ALTER TABLE `rooms` DISABLE KEYS */;
/*!40000 ALTER TABLE `rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `small_ingredient_expenses`
--

DROP TABLE IF EXISTS `small_ingredient_expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `small_ingredient_expenses` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `expense_date` date NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `small_ingredient_expenses_expense_date_unique` (`expense_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `small_ingredient_expenses`
--

LOCK TABLES `small_ingredient_expenses` WRITE;
/*!40000 ALTER TABLE `small_ingredient_expenses` DISABLE KEYS */;
/*!40000 ALTER TABLE `small_ingredient_expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracked_item_price_history`
--

DROP TABLE IF EXISTS `tracked_item_price_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tracked_item_price_history` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tracked_item_id` bigint(20) unsigned NOT NULL,
  `price_field` varchar(255) NOT NULL,
  `old_price` decimal(10,2) NOT NULL,
  `new_price` decimal(10,2) NOT NULL,
  `effective_date` date NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tracked_item_price_history_tracked_item_id_foreign` (`tracked_item_id`),
  CONSTRAINT `tracked_item_price_history_tracked_item_id_foreign` FOREIGN KEY (`tracked_item_id`) REFERENCES `tracked_items` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracked_item_price_history`
--

LOCK TABLES `tracked_item_price_history` WRITE;
/*!40000 ALTER TABLE `tracked_item_price_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `tracked_item_price_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracked_items`
--

DROP TABLE IF EXISTS `tracked_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tracked_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `item_type` enum('Rice','Fish','Meat','Chicken','Stew','Other') NOT NULL,
  `kilos_per_bag` decimal(8,2) DEFAULT NULL,
  `plates_per_bag` int(11) DEFAULT NULL,
  `price_per_plate` decimal(10,2) DEFAULT NULL,
  `price_small` decimal(10,2) DEFAULT NULL,
  `price_medium` decimal(10,2) DEFAULT NULL,
  `price_large` decimal(10,2) DEFAULT NULL,
  `unit_of_measurement` varchar(255) DEFAULT NULL,
  `price_per_unit` decimal(10,2) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracked_items`
--

LOCK TABLES `tracked_items` WRITE;
/*!40000 ALTER TABLE `tracked_items` DISABLE KEYS */;
INSERT INTO `tracked_items` VALUES (1,'Tilapia','Fish',NULL,NULL,NULL,50.00,70.00,100.00,NULL,NULL,1,'2026-03-03 17:02:14','2026-03-03 17:02:14'),(2,'Abena Rice','Rice',5.00,10,NULL,NULL,NULL,NULL,NULL,NULL,1,'2026-03-03 22:46:19','2026-03-03 22:46:19');
/*!40000 ALTER TABLE `tracked_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `two_factor_secret` text DEFAULT NULL,
  `two_factor_recovery_codes` text DEFAULT NULL,
  `two_factor_confirmed_at` timestamp NULL DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `current_team_id` bigint(20) unsigned DEFAULT NULL,
  `profile_photo_path` varchar(2048) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Obamax Manager','manager@obamaxgardens.com','2026-02-23 18:55:54','$2y$12$PySn61p7I.ieJJ9WJ2fwj.m8Naaf85KF3mB2NizSyGcjZBEszdj6e',NULL,NULL,NULL,'B6GdQgoGcXzIZ6ej69epLtZ0M2EFLQ625xg61G3v8rs2A6fGCZ5xU1vdlC6g',NULL,NULL,'2026-02-23 18:20:39','2026-02-23 18:55:54');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workers`
--

DROP TABLE IF EXISTS `workers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `workers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `role` varchar(255) NOT NULL,
  `department` varchar(255) NOT NULL,
  `block` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workers`
--

LOCK TABLES `workers` WRITE;
/*!40000 ALTER TABLE `workers` DISABLE KEYS */;
/*!40000 ALTER TABLE `workers` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-13  3:01:41
